In [2]:
#### ---- IMPORT Libraries 
import pandas as pd 
import seaborn as sns 

from sklearn.datasets import load_iris

%matplotlib inline


## Variables
data_dir = "D:/xAppzor/datasets/oaf"

print("Done Setup")

Done Setup

In [32]:
dat_sc_15 = pd.read_csv( data_dir + "/" + "oaf_sc_2015.csv")

print(dat_sc_15.info() )

dat_sc_15.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136095 entries, 0 to 136094
Data columns (total 18 columns):
SeasonName                           136095 non-null object
RegionName                           136095 non-null object
DistrictName                         136095 non-null object
SectorName                           136095 non-null object
SiteName                             136095 non-null object
GroupName                            136095 non-null object
LastName                             136095 non-null object
FirstName                            136095 non-null object
OAFID                                136095 non-null int64
Facilitator                          136095 non-null bool
TotalCredit                          136095 non-null float64
TotalRepaid                          136095 non-null float64
RemainingCredit                      136095 non-null float64
% Repaid                             136095 non-null float64
LastRepaymentDate                    136095 non-null object
TotalRepaid_IncludingOverpayments    136095 non-null float64
GlobalClientId                       136095 non-null object
Deceased                             136095 non-null bool
dtypes: bool(2), float64(5), int64(1), object(10)
memory usage: 16.9+ MB
None

,SeasonName,RegionName,DistrictName,SectorName,SiteName,GroupName,LastName,FirstName,OAFID,Facilitator,TotalCredit,TotalRepaid,RemainingCredit,% Repaid,LastRepaymentDate,TotalRepaid_IncludingOverpayments,GlobalClientId,Deceased
0,"2015, Long Rain",Western Province,Kakamega (South),Adelide Mukanzi,Lirhembe,Jikaze,Miheso,Johnstone,56739,False,9860.0,9860.0,0.0,100.0,8/3/2015 12:00:00 AM,9860.0,60608205-6fba-4932-a022-511006e668c5,False
1,"2015, Long Rain",Western Province,Kakamega B (North),Nelson Mutula Mukungu,Emulama,Bidii,James,Elphas,52517,False,5900.0,5900.0,0.0,100.0,7/6/2015 12:00:00 AM,5900.0,b8dbc924-e7f9-49b5-a53d-fa10c32b1634,False
2,"2015, Long Rain",Western Province,Gem,Sellah Anyango,Sigomere,Morfarms,Otieno,Carolyne A,46260,False,8520.0,8520.0,0.0,100.0,11/3/2015 12:00:00 AM,8520.0,cf15cdc9-fbc8-42a2-b10f-bf916be9ef26,False
3,"2015, Long Rain",Western Province,Kakamega B (North),Donald Ayuku,Itenyi,Amani,Lukanda,Francis,55852,False,5900.0,5900.0,0.0,100.0,7/13/2015 12:00:00 AM,5900.0,1f64af07-f31f-4165-abb8-1173369cb91f,False
4,"2015, Long Rain",Nyanza,Kabondo,George Odingo,Gari,Nyamuta,Opar,Aloice,35544,False,8400.0,8400.0,0.0,100.0,9/7/2015 12:00:00 AM,8400.0,a86b69a3-5df1-4a6c-b57f-cd55987d9be2,False

# Introduction 

Research Questions

1. Profile the clients based on credit taken ?????


Group By
1. Region

In [36]:
##-- Outcome Variables - varz = total credit, % repaid, overpayment, balance, last repayment date,  
var_outcomez = [ "TXSize", "Repayment"]

##-- reshape the dataset -- record = client, varz = total credit, % repaid, overpayment, balance, last repayment date,  
dataset = dat_sc_15[ ["SeasonName", "RegionName", "DistrictName", "GlobalClientId", "TotalCredit", "TotalRepaid_IncludingOverpayments", "LastRepaymentDate"]]

##-- computed fields 
#dataset["PctRepaid"] = min( 1, (dataset.TotalRepaid_IncludingOverpayments / dataset.TotalCredit) )
#dataset["OutstandingAmount"] = max(0, (dataset.TotalCredit - dataset.TotalRepaid_IncludingOverpayments) )
#dataset["OverpaymentAmount"] = max(0, (dataset.TotalRepaid_IncludingOverpayments - dataset.TotalCredit ) )
#dataset["Has.Overpayment"] = ifelse( dataset.OverpaymentAmount > 0, 1, 0)
#dataset["Has.CompletedRepayment"] = ifelse( dataset.PctRepaid >= 1, 1, 0)


##-- format date type



print( dataset.info() )

dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136095 entries, 0 to 136094
Data columns (total 7 columns):
SeasonName                           136095 non-null object
RegionName                           136095 non-null object
DistrictName                         136095 non-null object
GlobalClientId                       136095 non-null object
TotalCredit                          136095 non-null float64
TotalRepaid_IncludingOverpayments    136095 non-null float64
LastRepaymentDate                    136095 non-null object
dtypes: float64(2), object(5)
memory usage: 7.3+ MB
None

,SeasonName,RegionName,DistrictName,GlobalClientId,TotalCredit,TotalRepaid_IncludingOverpayments,LastRepaymentDate
0,"2015, Long Rain",Western Province,Kakamega (South),60608205-6fba-4932-a022-511006e668c5,9860.0,9860.0,8/3/2015 12:00:00 AM
1,"2015, Long Rain",Western Province,Kakamega B (North),b8dbc924-e7f9-49b5-a53d-fa10c32b1634,5900.0,5900.0,7/6/2015 12:00:00 AM
2,"2015, Long Rain",Western Province,Gem,cf15cdc9-fbc8-42a2-b10f-bf916be9ef26,8520.0,8520.0,11/3/2015 12:00:00 AM
3,"2015, Long Rain",Western Province,Kakamega B (North),1f64af07-f31f-4165-abb8-1173369cb91f,5900.0,5900.0,7/13/2015 12:00:00 AM
4,"2015, Long Rain",Nyanza,Kabondo,a86b69a3-5df1-4a6c-b57f-cd55987d9be2,8400.0,8400.0,9/7/2015 12:00:00 AM

# Client Level Data

In [14]:
### Sample Structure 

## Nb clients, districts per region and total 
dataset.groupby(["RegionName", "DistrictName"]).cou

SeasonName                            object
RegionName                            object
DistrictName                          object
GlobalClientId                        object
TotalCredit                          float64
TotalRepaid_IncludingOverpayments    float64
LastRepaymentDate                     object
dtype: object

# Site Level Data